<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
            <mimeMap fileExtension=".cfm" mimeType="application/x-cfm" />
            <mimeMap fileExtension=".cfc" mimeType="application/x-cfc" />
        </staticContent>
    </system.webServer>
</configuration>
